html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main__detailsPage {
  width: 100%;
}

.main__textContainer {
  width: 48%;
}

.main__detailsContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.main__imgContainer {
  width: 280px;
  height: 420px;
  /* background-color: #c9c8c8; */
}

.main__detailsImg {
  width: 280px;
  height: 420px;
}

.main__textContainer {
  width: 48%;
}

.main__detailsTitle {
  text-align: center;
  font-size: 30px;
  margin: 1rem 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main__detailsTable,
.main__detailsTextRow {
  width: 100%;
}

.main__detailsTable {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.main__detailsBody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.main__detailsTextRow:nth-child(odd) {
  background-color: #77c1bb;
}

.main__detailsTextRow {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.main__td {
  display: table-cell;
  vertical-align: inherit;
}

.main__detailsAbout {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.main__detailsAboutText {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.main__addList {
  list-style: none;
  display: flex;
  margin-top: 1rem;
}

.main__addList {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.main__addList > li:first-child {
  margin-right: 2rem;
}

.main_btnList {
  display: list-item;
}

.btnAddQueue,
.btnAddWatch {
  border: 0;
  outline: 0;
  padding: 0.5rem;
  background-color: #77c1bb;
  cursor: pointer;
  border-radius: 1rem;
  color: #fff;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  font: 400 13.3333px Arial;
}

@media (max-width: 767px) {
  .main__detailsContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .main__imgContainer {
    width: 280px;
    height: 420px;
    background-color: #c9c8c8;
  }

  .main__detailsImg {
    width: 280px;
    height: 420px;
    border-style: none;
  }

  .main__textContainer {
    width: 100%;
  }

  .main__detailsTitle {
    text-align: center;
    font-size: 30px;
    margin: 1rem 0;
  }

  .main__detailsTitle {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .main__detailsTable,
  .main__detailsTextRow {
    width: 100%;
  }

  .main__detailsTable {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
  }

  .main__detailsBody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .main__detailsTextRow:nth-child(odd) {
    background-color: #77c1bb;
  }

  .main__detailsTextRow {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .main__td {
    display: table-cell;
    vertical-align: inherit;
  }

  .main__detailsAbout {
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .main__detailsAboutText {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .main__addList {
    justify-content: center;
  }

  .main__addList {
    list-style: none;
    display: flex;
    margin-top: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  .main__addList > li:first-child {
    margin-right: 2rem;
  }

  .main_btnList {
    display: list-item;
  }

  .btnAddQueue,
  .btnAddWatch {
    border: 0;
    outline: 0;
    padding: 0.5rem;
    background-color: #77c1bb;
    cursor: pointer;
    border-radius: 1rem;
    color: #fff;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    font: 400 13.3333px Arial;
  }
}
