.footer {
    display: block;
    position: fixed;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    background-color: rgba(41, 151, 151);
    color: black;
    bottom: 0;
}

.footer p {
    text-align: center;
}
.copyright > a:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}
.copyright > a {
    text-decoration: none;
    color: rgb(66, 65, 65);
    padding-left: 10px;
}

