.search-form {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 0 auto;
  padding-top: 10px;
}

#search-form {
  border: none;
  outline: none;
  position: fixed;
  margin-top: -50px;
  top: 80px;
  z-index: 1;
  text-align: center;
  width: 40%;
  height: 42px;
  background: #f7f7f7;
  padding-left: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.842)); */
}

.pagination {
  margin: 0 auto;
  width: 320px;
  padding: 20px 0;
  height: 100px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.paginationWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 260px;
}

.pagination-btn {
  width: 92px;
  height: 44px;
  border: solid 1px rgba(39, 46, 46, 0.829);
  border-radius: 15px;
  outline: none;
  font-size: 21px;
  font-weight: bold;
  color: rgba(39, 46, 46, 0.829);
  background: none;
  cursor: pointer;
  background-color: rgba(41, 151, 151);
}

.pagination-btn:hover {
  background-color: rgb(66, 201, 201);
}

.pagination-page--number {
  display: block;
  padding-top: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: grey;
  text-align: center;
}

.invisible {
  /* display: none; */
}

.counter__value {
  width: 20px;
  border: none;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: grey;
  text-align: center;
}

.disable {
  opacity: 0;
  /* display: none; */
}

.active {
  opacity: 1;
  /* display: block; */
}

.opacity {
  opacity: 1;
}

@media (min-width: 768px) {
  .pagination {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .pagination {
    width: 1024px;
  }
}
